# Ignore node_modules in the frontend
frontend/my-sms-messenger/node_modules/

# Ignore build artifacts in the frontend
frontend/my-sms-messenger/dist/

# Ignore Angular cache files
frontend/my-sms-messenger/.angular/cache/

# Ignore backend logs
backend/log/

# Ignore temporary files in the backend
backend/tmp/

# Ignore sensitive environment files
backend/.env

# Ignore system files
.DS_Store