<html>
    <body>
        <div class="outer-box">
        <div class="message-send-container">       
        <h1>MY SMS MESSENGER</h1>
            <a href="#" (click)="logout()" class="logout-link">Logout</a> 
            <div class="grid">
                <section class="message-send-form">
                    <h2>New Message</h2>           
                    <div *ngIf="errorMessage" class="error-message">
                        {{ errorMessage }}
                    </div>
                    <form (ngSubmit)="sendMessage()" #messageForm="ngForm">
                        <label for="phone_number">Phone Number</label>
                        <input type="text" id="phone_number" name="phone_number" [(ngModel)]="message.phone_number" required />

                        <label for="message_content">Message</label>
                        <textarea id="message_content" name="message_content" maxlength="250" (input)="updateCharacterCount()" [(ngModel)]="message.message_content" required></textarea>
                        <div class="character-counter">
                            {{ message.message_content.length || 0 }}/250
                        </div>

                        <div class="form-actions">
                            <a (click)="clearAll()" class="clear-all-link">Clear</a>
                            <button type="submit" [disabled]="messageForm.invalid">Submit</button>
                        </div>
                    </form>
                </section>

                <section class="message-history">
                    <h2>Message History ({{ messageHistory.length}})</h2>
                    <div class="history-container">
                        <div *ngFor="let msg of messageHistory">
                            <div class="message-header">
                                <span class="phone-number">{{ msg.phone_number }}</span>
                                <span [ngClass]="msg.status"> {{ msg.status }} </span>
                                <span class="timestamp">{{ msg.created_at | date: 'fullDate' }} {{ msg.created_at | date: 'shortTime' }}</span>
                            </div>
                            <div class="message-content message-item">
                                {{ msg.message_content }}
                            </div>
                            <div class="message-length">
                                {{ msg.message_content.length }}/250
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    </body>
</html>
